<div ng-controller="firstCtrl">

	<div class="container">
		<div class="eight columns">
			<button ng-click="goMovies()">Ver lista de películas</button>
		</div>
		<div class="sixteen columns">
			<h1>Información de película</h1>
		</div>
		<div class="eight columns">
			<input ng-model="movie.title" class="movieInput" type="text" placeholder="Título de la pelicula">
			<input ng-model="movie.releaseYear" class="movieInput" type="text" placeholder="Año">
			<input ng-model="movie.rating" class="movieInput" type="text" placeholder="Rating de pelicula">
			<input ng-model="movie.description" class="movieInput" type="text" placeholder="Descripción de pelicula">
			<select ng-model="category" class="movieInput">
				<option>Accion</option>
				<option>Aventura</option>
				<option>Fantasia</option>
				<option>Romance</option>
				<option>Comedia</option>
				<option>Animacion</option>
				<option>Thriller</option>
				<option>Drama</option>
				<option>Familia</option>
				<option>Crimen</option>
				<option>Ciencia Ficcion</option>
			</select>
		</div>

	</div>

	<div id="imageContainer" class="container">
		<div class="sixteen columns">
			<h1>Imagen de película</h1>
		</div>
		<div class="sixteen columns">
			<form>
				<input type='file' id="asd" />
				<br>
				<img id="img" src="//placehold.it/1x1/" />
				<div id="base" class="sixteen columns"></div>
			</form>
		</div>
	</div>

	<div class="container">
		<div class="four columns">
			<button ng-click="saveMovie()" type="submit"> Guardar </button>
		</div>
	</div>
</div>
